html
    box-sizing: border-box
    overflow-y: scroll

*, *:before, *:after
    margin: 0
    padding: 0
    box-sizing: inherit

body
    font-family: 'Verdana',sans-serif
    font-size: 12px
    color: $c-basic-font

a
    font-size: 100%
    vertical-align: baseline
    background: transparent
    color: $c-basic-link

img,object,embed
    max-width: 100%

ul
    list-style: none

blockquote, q
    quotes: none
    &:before,
    &:after
        content: ''
        content: none

table
    width: 100%
    border-collapse: separate
    border-spacing: 0

th
    font-weight: bold
    vertical-align: bottom

td
    font-weight: normal
    vertical-align: middle
    & img
        vertical-align: middle
hr
    display: block
    height: 1px
    border: 0
    border-top: 1px solid $c-basic-border-hr

/* inputs */

input, select
    vertical-align: middle

input[type="radio"]
    vertical-align: text-bottom

label,
button,
input[type="button"],
input[type="submit"],
input[type="file"]
    cursor: pointer

button,
input[type="button"]
    width: auto
    overflow: visible

fieldset
    flex-basis: 100%
    background-color: lighten($c-theme-2, 2%)
    padding: 5px
    margin: 5px 0
    border-radius: 3px
    border-width: 1px
    border-style: solid
    border-color: darken($c-theme-2, 2%)
    cursor: pointer

form
    flex-basis: 100%
