/* Theme colors */

/* Coolors Exported Palette - coolors.co/2d2a32-ddd92a-eae151-eeefa8-fafdf6 */

/* HSL */
$color1: hsla(263%, 9%, 18%, 1)
$color2: hsla(59%, 72%, 52%, 1)
$color3: hsla(56%, 78%, 62%, 1)
$color4: hsla(61%, 69%, 80%, 1)
$color5: hsla(86%, 64%, 98%, 1)


$c-theme-1: #e0e0e0
$c-theme-2: $color1

// basic color settings
$c-basic-font: #e0e0e0
$c-basic-link: #e0e0e0
$c-basic-link-hover: #e0e0e0


// basic colors
$c-basic-border-hr: darker( $c-theme-1 ) 
