html, body, #wrapper, #wrapper2
    height: 100%

#wrapper2
    display: flex
    flex-direction: column
    flex: 1 0 auto

#wrapper3
    flex-grow: 2
    display: flex
    flex-direction: column
    background-color: $c-theme-2


#main
    display: flex
    flex-grow: 2
    flex-direction: row
    justify-content: stretch
    &.nosidebar #sidebar
        display: none
    &.nosidebar #content
        flex-basis: 100%

#content

    position: relative
    padding: 10px 15px
    display: flex
    flex-basis: 70%
    flex-direction: row
    justify-content: space-between
    align-content: flex-start
    flex-wrap: wrap
    overflow-x: hidden
    background: transparent
    & > h2
        flex-basis: 50%
        order: -1
        height: 2em
    div.contextual
        display: flex
        flex-direction: row
        justify-content: flex-end
        flex-basis: 50%

#sidebar
    order: 2
    flex-basis: 30%
    padding: 10px 15px

div.splitcontentleft,
div.splitcontentright
    flex-basis: 50%
