@mixin toggle_description()
  & > div.description
    display: none
  &:hover > div.description
    display: block 

#projects-index
  flex-basis: 100%
  margin-top: 20px
#projects-index > ul.projects.root > li.root
  background: $c-theme-1
   

ul.projects.root
  display: flex
  flex-direction: row
  flex-wrap: wrap
  justify-content: flex-start

li.root
  flex-basis: 30%
  margin: 10px 20px
div.root
  padding: 5px
  background: $c-theme-2
  color: $c-theme-1
  a
    display: inline-block
    color: $c-theme-1
    font-size: 1.1em
    font-weight: 600
    padding: 2px 3px
    border-radius: 5px
    margin: 4px


li.root > ul.projects li.child
  margin: 10px 0
  padding: 0 10px

ul.projects li
  @include highlight_column( rgba( 200, 200, 200, 0.3 ) )

div.child
  @include toggle_description()
