$c-calendar-background: #ffffff
$c-calendar-current-month-background: #fafafa
$c-calendar-adjacent-month-background: darken( $c-calendar-current-month-background, 2% )
$c-calendar-border: darken( $c-calendar-adjacent-month-background, 10% )
$c-calendar-weekday-background: $c-theme-2
$c-calendar-weekday-text: $c-theme-1
$c-calendar-entry-background: transparent
$c-calendar-tip-background: #c0c0c0

table.cal
    margin: 10px 0
    background-color: $c-calendar-background
    border-collapse: collapse

    & th
        background-color: $c-calendar-weekday-background
    & tr
        border: none
    & td, &:last-child td
        padding: 3px
        border: 1px solid $c-calendar-border
        height: 100px
        vertical-align: top
        text-align: left
        &.even
            background-color: $c-calendar-current-month-background
        &.odd
            background-color: $c-calendar-adjacent-month-background
        &.week-number
            background-color: $c-calendar-weekday-background
            color: $c-calendar-weekday-text
            font-weight: 600
            padding-left: 5px
            padding-right: 5px



table.cal div.issue
    position: relative
    padding: 5px
    margin: 5px 0
    border-radius: 3px
    background-color: $c-calendar-entry-background
    &:hover span.tip
        display: block
    span.tip
        position: absolute
        top: 10px
        left: 10px
        z-index: 1
        background-color: $c-calendar-tip-background
        display: none
