$c-footer-background: $c-theme-2
$c-footer-text-color: lighten( $c-theme-2, 50% )
$d-footer-height: 2em

#footer
    height: $d-footer-height
    display: flex
    justify-content: space-around
    align-items: center
    border-top: 1px solid black
    background: $c-footer-background
    color: $c-footer-text-color
