$c-form-background: darken( $c-theme-2, 5% )
$c-form-font-color: lighten( $c-theme-2, 80% )


#login-form
    margin-top: 10vh
    padding: 12px
    width: 20vw
    border-radius: 2px
    color: $c-basic-font
    font-weight: bold
    background-color: #ffffff
    form
        margin: auto
        display: flex
        flex-direction: column
        & > *
            margin: 3px
