$c-form-background: #c0c0c0

#login-form
    padding: 10px
    width: 20vw
    background-color: $c-form-background
    border-radius: 5px
    form
        margin: auto
        display: flex
        flex-direction: column
        & > *
            margin: 3px
