$d-main-menu-height:3em
$c-main-menu-background: #f0f0f0
$c-main-menu-link: $c-basic-link-dark


#main-menu
  height: $d-main-menu-height
  flex-basis: 100%
  background-color: $c-main-menu-background
  box-shadow: 0 -4px 4px -4px #909090 inset
  & > ul
    height: inherit
    position: relative
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    li
        a
            display: block
            font-size: 1.1em
            font-weight: 600
            text-decoration: none
            padding: 0 20px
            color: $c-main-menu-link
            transition: color 300ms ease-in-out
        a.selected
            border-bottom: 3px solid #00ff66
            margin-bottom: -3px
        a:hover
            color: $c-theme-2

ul.menu-children
  position: absolute
  display: none
  flex-direction: column
  justify-content: stretch
  background-color: white
  li a
      @include highlight_column( #00ff66 )
      padding: 5px 10px !important

ul.menu-children.visible
    display: flex
    z-index: 99
