$d-main-menu-height: 2em
$c-main-menu-background: lighten($c-theme-1, 5%)
$c-main-menu-link: $c-basic-link-light


#main-menu
  flex-basis: 100%
  background-color: $c-main-menu-background !important
  border-bottom: 1px solid darken($c-main-menu-background, 30%)
  flex: 0 0 auto
  & > ul
    position: relative
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    li
        a
            display: block
            font-size: 1.1em
            text-decoration: none
            padding: 0 15px
            color: lighten($c-main-menu-link, 15%)
            transition: color 300ms ease-in-out
            line-height: $d-main-menu-height
            height: inherit
            margin: 0 auto
            &::after
                content: ''
                display: block
                width: 100%
                height: 2px
                opacity: 0
                background: lighten($c-main-menu-background, 30%)
                transition: opacity 300ms ease-in
            &:hover::after
                opacity: 1
        a.selected::after, a.selected:hover::after
            opacity: 1
            background: $c-theme-2

ul.menu-children
  position: absolute
  display: none
  flex-direction: column
  justify-content: stretch
  background-color: white
  li a
      @include highlight_column( #00ff66 )
      padding: 5px 10px !important

ul.menu-children.visible
    display: flex
    z-index: 99
