#query_form
    flex-basis: 100%

#query_form_with_buttons
    display: flex
    flex-direction: row
    justify-content: flex-start
    flex-wrap: wrap
    p.buttons
        flex-basis: 50%
    p.contextual
        flex-basis: 50%
        order: 2
        display: flex
        flex-direction: row
        align-items: center
        justify-content: flex-end
        & > *
            margin: 3px

#query_form_content
    flex-basis: 100%
    margin-bottom: 5px
