$c-table-background: lighten( $c-theme-2, 10% )
table
    margin: 15px 0
    border-radius: 3px
    background: darken( $c-table-background, 3% )
    thead
        th
            height: 3em
            padding: 8px
    tbody
        background: transparent


        tr
            height: 2em
            line-height: 2em
            background: $c-table-background
            &.odd
                background: lighten( $c-table-background, 3% )
            &.hascontextmenu
                cursor: context-menu
        td
            padding: 4px
            text-align: center

        td:first-child
            text-align: left

td.checkbox
    text-align: center !important
td.buttons
    text-align: right !important
