#top-menu
    border-bottom: 1px solid black
    display: flex
    flex-direction: row-reverse
    justify-content: space-around
    flex: 1 0 auto
    & > *
        margin: 0 1vw
    h1
        flex-grow: 2
    & ul
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-around

#quick-search
    display: flex
    flex-direction: row-reverse
    justify-content: stretch
    label
        display: none

#project-jump

