$d-top-menu-height:4em
$c-top-menu-background: $c-theme-2
$c-top-menu-search-background: darken( $c-theme-2, 3% )
$s-logo: 1.4em


#top-menu
    background-color: $c-top-menu-background
    height: $d-top-menu-height
    border-bottom: 1px solid black
    display: flex
    flex-direction: row-reverse
    justify-content: space-between
    align-items: center
    & > *
        margin: 0 1vw
    & > ul
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        li
            margin: 0 5px
    h1
        width: 30vw
        color: $c-theme-1
        display: flex
        flex-direction: row
        align-items: center
        span.current-project
            font-size: 1em
            flex-grow: 2
        span.breadcrumbs
            display: none
            font-size: 0.5em
    h1:before
        content: ''
        width: $s-logo
        height: $s-logo
        background: url(../images/moria-logo.png) no-repeat
        background-size: contain
        margin-right: 5px
    a
        color: $c-theme-1


#quick-search
    width: 30vw
    flex-grow: 2
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-items: center
    & > *
        margin: 0 1vw
    form
        flex-basis: 20%
    label
        display: none
    input[type="text"]
        width: 250px
        padding: 3px
        color: $c-theme-1
        background: $c-top-menu-search-background
        border-radius: 3px
        border: 1px solid darken($c-top-menu-background,8%)


#loggedas
    display: none
    a
        display: block !important
        padding: 3px
        background: $c-basic-ok
        color: $c-theme-2
        font-weight: 400


#account ul
    display: flex
    flex-direction: row
    justify-content: flex-end
    li
        margin: 0 5px
